<?xml version="1.0"?>
<launch>
    <env name="ROSCONSOLE_FORMAT" value="[${severity} ] [${time}] [${node}]: ${message}" />

    <arg name="ip" default="os1-122007000043.local"/>

    <include file="$(find ouster_ros)/ouster.launch">
        <arg name="sensor_hostname" value="$(arg ip)"/>
    </include>

    <node pkg="pcl_detector" type="pcl_detector_ros_node" name="pcl_detector_ros_node" output="screen"/>

</launch>
